apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: healthconnect
  labels:
    app: api-gateway
    tier: gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
        tier: gateway
    spec:
      containers:
      - name: api-gateway
        image: healthconnect_v2-api-gateway:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: API_GATEWAY_PORT
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: healthconnect-secrets
              key: JWT_SECRET
        - name: AUTH_URL
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: AUTH_URL
        - name: PATIENT_URL
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: PATIENT_URL
        - name: DOCTOR_URL
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: DOCTOR_URL
        - name: APPT_URL
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: APPT_URL
        - name: PHARMACY_URL
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: PHARMACY_URL
        - name: ADMIN_URL
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: ADMIN_URL
        - name: KAFKA_BROKERS
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: KAFKA_BROKERS
        - name: ALLOWED_ORIGINS
          valueFrom:
            configMapKeyRef:
              name: healthconnect-config
              key: ALLOWED_ORIGINS
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
