apiVersion: v1
kind: Service
metadata:
  name: admin-service
  namespace: healthconnect
  labels:
    app: admin-service
spec:
  type: ClusterIP
  ports:
  - port: 3006
    targetPort: 3006
    protocol: TCP
    name: http
  selector:
    app: admin-service
