apiVersion: v1
kind: Service
metadata:
  name: pharmacy-service
  namespace: healthconnect
  labels:
    app: pharmacy-service
spec:
  type: ClusterIP
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
  selector:
    app: pharmacy-service
