apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: healthconnect
  labels:
    app: appointment-service
spec:
  type: ClusterIP
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
  selector:
    app: appointment-service
